.container {
    text-align: center;
  }
  
  .dice {
    display: inline-block;
  
  }
  
  body {
    background-color: #FFF9D0;
  }
  
  h1 {
    margin: 20px;
    text-shadow: 5px 0 #232931;
    font-size: 10rem;
    color: #5AB2FF;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
  }
  
  p {
    font-size: 2rem;
    color: #5AB2FF;
    font-family: "Space Mono", monospace;
    font-weight: 500;
    font-style: italic;
  }
  
  img {
    width: 80%;
  }
  
  footer {
    margin-top: 30px;
    color: #5AB2FF;
    font-family: "Space Mono", monospace;
    font-weight: 300;
    font-style: italic;
    text-align: center;

  
  }
  